.movie {
    list-style: none;
    border: 1px solid var(--border-light);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    position: relative;
    background-color: var(--secondary-background-color)
}

.movie:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
}

.posterDeleteWrapper {
    position: relative;
    inline-size: 100%;
    block-size: 300px;
    aspect-ratio: 2 / 3;
    overflow: hidden; 
}

.poster {
    inline-size: 100%;
    object-fit: cover;
    block-size: 100%;
    block-size: 300px;
    aspect-ratio: 2 / 3;
    border-bottom: 1px solid var(--border-light);
}

.posterDeleteWrapper {
    position: relative;
    inline-size: 100%;
    block-size: 300px;
    aspect-ratio: 2 / 3;
    overflow: hidden;
}

.posterDeleteWrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    z-index: 1;
    pointer-events: none;
}

.movie:hover .posterDeleteWrapper::before {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.deleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
}

.movie:hover .deleteButton {
    display: block;
}

.title {
    display: block;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    margin: 10px 0;
    padding: 10px;
    color: var(--text-color);
    text-decoration: none;
}

.title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.deleteButton {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.movie:hover .deleteButton {
    display: block;
}
