.wrapper {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-block-start: 100px;
    padding-block: 24px;
    align-items: center;
    max-inline-size: 800px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--secondary-background-color);
}

.title {
    font-size: 40px;
    margin-block-end: 16px;
    color: var(--text-color);
}

.text {
    font-size: 20px;
    margin-block: 8px;
    color: var(--text-color);
}

.link {
    position: relative;
    text-decoration: none;
    font-weight: 600;
    color: var(--link-color);
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--link-color);
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}

.button {
    max-inline-size: 250px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-block: 8px;
    border-radius: 5px;
    border: 1px solid var(--border-light);
    padding-inline: 100px;
    padding-block: 8px;
    text-decoration: none;
    text-wrap: nowrap;
}

.button:hover {
    background-color: var(--button-hover-color);
}

@media (max-width: 800px) {
    .wrapper {
        max-inline-size: 80%;
        margin-block-start: 50px;
    }

    .title {
        font-size: 28px;
    }
}
