.titleContainer {
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 2.6rem;
    font-weight: 600;
    color: #f9f9f9;
}

.button {
    block-size: 40px;
    inline-size: 40px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block: 8px;
    text-decoration: none;
    color: #f9f9f9;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 20px 0 0 20px;
}
