.descriptionContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.poster {
    inline-size: 20%;
    object-fit: cover;
    aspect-ratio: 2 / 3;
}

.genres {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-block-end: 10px;
    flex-wrap: wrap;
    color: var(--text-color);
}

.genre {
    padding: 5px 10px;
    border: 1px solid var(--border-light);
    border-radius: 10px;
    font-size: 14px;
    flex-shrink: 0;
}

.description {
    color: var(--text-color);
}

@media (max-width: 1280px) {
    .poster {
        inline-size: 25%;
    }
}

@media (max-width: 1024px) {
    .ratingContainer {
        justify-self: start;
        align-self: center;
        order: 3;
    }

    .descriptionContainer {
        order: 2;
        flex-direction: row;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .poster {
        inline-size: 200px;
        block-size: 300px;
    }
}

@media (max-width: 425px) {
    .descriptionContainer {
        flex-direction: column;
        align-items: center;
    }

    .poster {
        inline-size: 100%;
        block-size: auto;
    }
}
