.ratingContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.avgRatingContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-block-end: 10px;
    align-items: center;
}

.avgRatingTitle {
    font-weight: 600;
}

.avgRatingValue {
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 1280px) {
    .content {
        inline-size: 95vw;
    }

    .poster {
        width: 25%;
    }
}

@media (max-width: 1024px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .ratingContainer {
        justify-self: start;
        align-self: center;
        order: 3;
    }
}

@media (max-width: 768px) {
    .avgRatingTitle {
        font-size: 16px;
    }
}