.titleContainer {
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    color: var(--text-light-color);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.button {
    border-radius: 5px;
    border: 1px solid var(--border-light);
    padding-inline: 12px;
    padding-block: 12px;
    text-decoration: none;
    color: var(--text-light-color);
}