.label {
    color: var(--text-color);
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 3px;
}

.inputText {
    background-color: var(--input-color);
    color: var(--text-color);
}

.inputText {
    border: 1px solid var(--border-color);
}

.inputText::placeholder {
    color: var(--text-color);
}

.inputText:focus {
    outline: none;
    border: 1px solid var(--border-color);
    box-shadow: var(--purple-box-shadow);
}

.counter {
    color: var(--text-color);
    display: flex;
    justify-content: end;
}

.counterValueError {
    color: var(--text-grey-color);

}

.radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    gap: 10px;
}

.radioLabel {
    color: var(--text-color);
    padding-inline-start: 5px;
}

.button {
    background-color: var(--action-button-main-color);
    padding: 10px 17px;
    border-radius: 6px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: var(--action-buttom-main-text-color);
    text-decoration: none;
    border: 1px solid var(--border-accent);
}

.error {
    font-size: 18px;
    color: var(--error-color);
}

.radioLabel .p-radiobutton-box {
    border-color: var(--checkbox-color);
} 

.submitButton {
    background-color: var(--button-color);
    border: 1px solid var(--button-border-color);
    color: var(--text-color);
}

.submitButton:hover {
    background-color: var(--button-hover-color);
    transition: background-color 0.5s ease;
}

.submitButton:focus {
    outline: none;
    border: 1px solid var(--button-border-color);
    box-shadow: 0 0 8px rgba(202, 163, 239, 0.6);
}