.titleContainer {
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color);
}

.button {
    border-radius: 5px;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid  transparent;
    padding-inline: 12px;
    padding-block: 12px;
    text-decoration: none;
}

.button:hover {
    color: var(--icon-hover-color);
    transition: color 0.5s ease;
}

.button:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 0px transparent;
    color: var(--icon-focus-color);
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 20px 0 0 20px;
}

.icon {
    font-size: 32px;
}