.button {
    block-size: 65px;
    inline-size: 100px;
    border-radius: 5px;
    border: 1px solid var(--border-light);
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block: 1px;
    text-decoration: none;
    color: var(--text-light-color);
}
