.collections {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    margin-block-end: 20px;
}

.collection {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.error {
    color: var(--error-color);
}
