.collection {
    list-style: none;
    border: 1px solid var(--border-light);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    width: 200px;
    text-align: center;
}

.collection:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
}

.images {
    min-block-size: 90px;
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 10px;
}

.poster {
    inline-size: 60px;
    block-size: 90px;
    object-fit: cover;
    border-radius: 5px;
}

.title {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-light-color);
    margin: 10px 0;
    text-decoration: none;
}

.title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.author {
    font-size: 0.9rem;
    color: var(--text-grey-color);
    margin-bottom: 10px;
}
