.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin: 20px;
}

.emptyList {
    padding: 20px;
    font-size: 25px;
    font-size: 400;
    color: var(--text-light-color);
}
