.header {
    padding-inline: 14px;
    padding-block: 16.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c212a;
    border-radius: 6px;
    border-bottom: 1px solid #6c6e72;
    max-height: 73px;
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    color: #8e96a0;
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.leftButtons {
    display: flex;
    gap: 7px;
}

.rightButtons {
    display: flex;
    gap: 7px;
}

.button {
    display: flex;
    align-items: center;
    background-color: #121417;
    padding: 10.5px 17.5px;
    border-radius: 6px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #8e96a0;
    text-decoration: none;
    border: 1px solid #396bd0;
}

.button:hover {
    background-color: #e0e6ed;
}

.buttonChecked,
.buttonChecked:hover {
    background-color: #a855f733;
    cursor: default;
}

.menuButton {
    display: none;
}

@media (max-width: 1024px) {

    .buttons {
        display: none;
        flex-direction: column;
        background-color: #1c212a;
        position: absolute;
        top: 60px;
        right: 14px;
        width: 200px;
        padding: 10px;
        border-radius: 6px;
        gap: 10px;
        z-index: 2;
    }

    .buttons.open {
        display: flex;
    }

    .leftButtons,
    .rightButtons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .menuButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: #8e96a0;
        font-size: 24px;
        margin-left: auto;
    }

    .button {
        width: 140px;
        justify-content: center;
        text-wrap: nowrap;
        box-sizing: border-box;
    }
}
