.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.label {
    font-size: 22px;
    font-weight: 500;
}

.input {
    inline-size: 350px;
    min-block-size: 40px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding-inline-start: 10px;
    font-size: 20px;
}

.button {
    width: 250px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-block: 8px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block: 8px;
}

.button:hover {
    background-color: #8d8a8a;
}

.error {
    font-size: 18px;
    color: #f00;
}

@media (max-width: 550px) {
    .input {
        inline-size: 250px;
    }
}
