:root {
    --error-color: #f00;
    --main-background-color: #2c3440;
    --light-background-color: #f8f9fa;
    --white-color: #fff;
    --wrapper-color: #c0c0c0;
    --header-text-color: #8e96a0;
    --header-color: #1c212a;
    --header-button-main-color: #121417;
    --header-button-hover-color: #e0e6ed;
    --header-button-active-color: #a855f733;
    --text-light-color: #f9f9f9;
    --border-light: #e0e0e0;
    --border-dark: #000;
    --border-accent: #396bd0;
    --submit-button-hover: #8d8a8a;
    --action-button-main-color: #87aeea;
    --action-button-active-color: #5782c1;
    --action-button-hover-color: #aeb6bd;
    --action-buttom-main-text-color: #202832;
    --text-grey-color: #6c757d;
    --text-accent-color: #396bd0;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.2);
}